.multiline {
    background-color: var(--input_bg_color);
    color: var(--input_text_color);
    width: 95%;
    min-height: 70px;
    height: 100%;
    white-space: pre-wrap;
    border-radius: 10px;
    resize: none;
    padding: 5px;
}