.buttonOneCss {
    background-color: rgb(62, 62, 244);
    border: 1px solid var(--border_color);
    border-radius: 5px;
    color: white;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    padding: 5px;
}
.buttonOneCss:hover { scale: 1.05; }

.buttonOneCssDisabled {
    background-color: rgb(174, 174, 174);
    color: black;
    /* border: 1px solid var(--border_color);
    border-radius: 5px;
    padding: 5px;
    font-weight: bold; */
}