.headerDiv {
    height: var(--header_foorter_height);
    background-color: var(--header_footer_bg_color);
    color: var(--header_footer_text_color);

    /* display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 30px; */
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;

    padding-right: 30px;
    font-weight: bold;
}
.titleDiv{
    /* flex-grow: 1; */
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: flex-start;
    align-items: center;
}

.VarNameCompanyDiv {
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: center;
    align-items: center;

    min-width: 100px;
    cursor: pointer;
}
.varLabel {
    cursor: pointer;
}

.iconImg {
    width: var(--top_menu_icons_size);
    height: var(--top_menu_icons_size);
    cursor: pointer;
}

.importExportDiv {
    /* background-color: red; */
    margin: 0 20px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: flex-start;
}
