.headerDiv {
    height: var(--header_foorter_height);
    background-color: var(--header_footer_bg_color);
    color: var(--header_footer_text_color);

    display: grid;
    grid-template-columns: 3fr 1fr 1fr;

    padding-right: 30px;
    font-weight: bold;
}
.titleDiv{
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: flex-start;
    align-items: center;
}

.VarNameCompanyDiv {
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: center;
    align-items: center;

    min-width: 100px;
    cursor: pointer;
}
.varLabel {
    cursor: pointer;
}

.iconImg {
    width: var(--top_menu_icons_size);
    height: var(--top_menu_icons_size);
    cursor: pointer;
}
.iconImg2 {
    width: var(--main_icons_size);
    height: var(--main_icons_size);
    cursor: pointer;
}

.importExportDiv {
    margin: 0 20px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: flex-start;
}

.darkLayout {
    z-index: 110;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0,0,0, 0.5);
}
.editFieldDiv {
    position: fixed;
    width: 800px;
    height: 130px;
    /* top: calc(50vh - 200px); */
    top: var(--header_foorter_height);
    left: calc(50vw - 400px);
    background-color: bisque;
    border-radius: 15px;
    padding: 15px;

    display: flex;
    flex-direction: column;
    gap: 10px;

    color: black;
}
.crossImgIcon {
    position: fixed;
    top: var(--header_foorter_height);
    left: calc(50vw - 400px);
}
.editFieldButtonsDiv {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 5fr;
}
.oneButtonDiv {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
