.wrappedDiv {
    min-width: 100vw;
    min-height: 100vh;
    /* text-align: center; */
    display: flex;
    flex-direction: column;
}

@media screen and (min-width: 550px) {
    .mainDiv {
        background-color: var(--main_bg_color);
        height: 90vh;
        padding: 5px;
    
        display: grid;
        grid-template-columns: 0.7fr 1.3fr 1fr;
        gap: 5px;
    }
    .mainDivShort {
        grid-template-columns: 50px 1.3fr 1fr;
    }
}
@media screen and (max-width: 550px) {
    .mainDiv {
        background-color: var(--main_bg_color);
        height: 100vh;
        padding: 5px;
    
        display: flex;
        flex-direction: column;
        /* grid-template-columns: 0.7fr 1.3fr 1fr; */
        gap: 5px;
    }
    /* .mainDivShort {
        grid-template-columns: 50px 1.3fr 1fr;
    } */
}
/* .mainDiv {
    background-color: var(--main_bg_color);
    height: 90vh;
    padding: 5px;

    display: grid;
    grid-template-columns: 0.7fr 1.3fr 1fr;
    gap: 5px;
}
.mainDivShort {
    grid-template-columns: 50px 1.3fr 1fr;
} */

.blockDiv {
    border: 3px solid black;
    border-radius: 15px;
    padding: 10px;

    overflow: hidden;
    overflow-y: scroll;
    min-height: 300px;
}