.wrappedDiv {
    min-width: 100%;
    min-height: 100vh;
    text-align: center;
    display: flex;
    flex-direction: column;
}
.mainDiv {
    background-color: var(--main_bg_color);
    height: 90vh;
    padding: 5px;

    display: grid;
    grid-template-columns: 0.7fr 1.3fr 1fr;
    gap: 5px;
}
.mainDivShort {
    grid-template-columns: 30px 1.3fr 1fr;
}

.blockDiv {
    border: 3px solid black;
    border-radius: 15px;
    padding: 10px;

    overflow: hidden;
    overflow-y: scroll;
}