.promptWrapperDiv {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.titleDiv {
    min-height: 1px;
}

.promptDiv {
    overflow: hidden;
    overflow-y: scroll;
    /* background-color: yellow; */
    flex-grow: 1;
}
.promptTextDiv {
    white-space: pre-wrap;
    text-align: justify;
}

.buttonsDiv {
    position: sticky;
    bottom: 0;
    left: 0;
    height: var(--menu_icons_height);

    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
    justify-content: center;

    margin-top: 10px;

    background-color: var(--menu_bg_color);
    border-radius: 10px;
    border: 1px solid black;
}

.iconsImg {
    height: var(--main_icons_size);
    width: var(--main_icons_size);
    cursor: pointer;
}
.iconsImg:hover {
    scale: 1.2;
}

.textAreaHeight {
    height: 75vh;
}