.search {
    /* background-color: green; */
    /* display: grid;
    grid-template-columns: var(--bricks_template_column); */
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-left: 10px;
    margin-right: 10px;
}
.searchMarginTop {
    margin-top: 20px;
}
.searchField {
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: center;
    align-items: center;
}
.textFieldWidth {
    min-width: 250px;
}
.datePicker {
    height: 40px;
    border-radius: 10px;
    background-color: var(--input_bg_color);
    height: var(--input_height);
    text-align: center;
}