.blockThree {
    /* position: relative;
    min-height: 100%;
    background-color: green; */
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.titleDiv {
    /* background-color: red; */
    min-height: 1px;
}

.responseDiv {
    overflow: hidden;
    overflow-y: scroll;
    flex-grow: 1;
    white-space: pre-wrap;
    text-align: justify;
}

.buttonsDiv {
    position: sticky;
    bottom: 0;
    left: 0;
    height: var(--menu_icons_height);

    border: 1px solid black;
    border-radius: 10px;

    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
    justify-content: center;

    margin-top: auto;

    background-color: var(--menu_bg_color);

}

.iconsImg {
    height: var(--main_icons_size);
    width: var(--main_icons_size);
    cursor: pointer;
}
.iconsImg:hover {
    scale: 1.2;
}

/* 
.historyLayoutDiv {
    z-index: 100;
    width: 100vw;
    height: 100vh;
    display: none;
    background-color: rgba(0,0,0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
}
.showHistoryLayout {
    display: block;
}
.hystoryDiv {
    width: 80vw;
    height: 80vh;
    position: fixed;

    top: 10vh;
    left: 10vw;
    border: 5px solid gray;
    border-radius: 10px;
    background-color: rgb(206, 205, 205);

    display: flex;
    flex-direction: column;
    gap: 10px;

    overflow: hidden;
    overflow-y: scroll;
}
.crossIcon {
    z-index: 101;
    position: fixed;
    top: calc( 10vh - var(--main_icons_size)*0.5 );
    left: calc( 50vw - var(--main_icons_size)*0.5 );
} */