
.oneQuestion {
    margin: 10px 0;
    padding: 5px;
    background-color: rgb(252, 217, 151);
    border: 1px solid black;
    border-radius: 10px;

    display: flex;
    flex-direction: column;
    gap: 5px;
}
.oneQuestionNonEditable {
    cursor: pointer;
}
.oneQuestionNonEditable:hover {
    scale: 1.05;
}

.iconsDiv {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 30px;
}
.iconsImg {
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.oneQuestionTitleDiv {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.oneQuestionTitleSphereImg {
    width: 17px;
    height: 17px;
}

.questionTextLabel {
    font-size: 12px;
}
.answerTextLabel {
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
}