.questionsWrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
}
.allQuestionsField {
    flex-grow: 1;
}
.oneQuestion {
    margin: 10px 0;
    background-color: rgba(248, 248, 107, 0.5);
    /* background-color: var(--menu_bg_color); */
    border: 1px solid black;
    border-radius: 10px;

    overflow: hidden;

    display: flex;
    flex-direction: row;    
}
.colorDiv {
    width: 20px;
    max-width: 20px;
    cursor: pointer;
    border-right: 1px solid black;
}
.oneQuestionContent {
    padding: 5px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 100%;
}

.oneQuestionNonEditable {
    cursor: pointer;
}
.oneQuestionNonEditable:hover {
    scale: 1.05;
}

.iconsDiv {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 30px;
    min-height: 35px;
    margin-top: 10px;
}
.iconsImg {
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.oneQuestionTitleDiv {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.oneQuestionTitleSphereImg {
    width: 17px;
    height: 17px;
}

.questionTextLabel {
    /* text-align: center; */
    font-size: 12px;
    /* margin-top: 10px;   */
}
.marginTop {
    margin-top: 10px;
}
.answerTextLabel {
    font-size: 14px;
    font-weight: bold;
    /* cursor: pointer; */
}

.colorChooser {
    width: 100%;
}

.buttonsDiv {
    position: sticky;
    bottom: 0;
    left: 0;
    height: var(--menu_icons_height);

    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
    justify-content: center;

    margin-top: 10px;

    background-color: var(--menu_bg_color);
    border-radius: 10px;
    border: 1px solid black;
}

.menuIconsImg {
    width: var(--main_icons_size);
    height: var(--main_icons_size);
    cursor: pointer;
}
.menuIconsImg:hover {
    scale: 1.2;
}

.companyDiv {
    margin: 5px 0;
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.companyFieldDiv {
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
    justify-content: center;
    
}
.companyFieldDivCursor {
    font-weight: 800;
    cursor: pointer;
}
/* .companyFieldDiv {
    font-weight: 800;
} */
.companyIcons {
    width: 27px;
    height: 27px;
    cursor: pointer;
    margin-top: 5px;
}
.companyIcons:hover { scale: 1.2; }

.divClick {
    cursor: pointer;
}
.hideIconDiv {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.hideShowIcon {
    height: 25px;
    width: 25px;
    cursor: pointer;
    align-self: center;
}
.upperButtons {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 10px;
}